* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html, body {
  margin: 0;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f3f3f3;
  color: #555;
}
header {
  border-bottom: 5px solid #888;
  margin-bottom: 20px;

}

.container {
  width: 1020px;
  margin: 0 auto;
}

textarea {
  width: 40rem;
  height: 10rem;
}

.page {
  display: flex;
  flex-direction: row;
}

main {
  flex: 1;
}

aside {
  width: 300px;
  padding: 10px;
  background: #eee;
}
