<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProxyFace Admin</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<header>
  <div class="container">
    <h1>ProxyFace</h1>
  </div>
</header>
<div class="container page">
  <main>

  <form method="post" action="/status">
  <textarea name="message"></textarea>
  <br>
  <input type="submit" value="Status bericht posten">
  </div>
  </form>

  <h1>Status berichten </h1>
  <ul>
  {% for status in statuses %}
    <li>{{ status.message}}</li>
  {% else %}
    <i>geen</i>
  {% endfor %}
  </ul>

  <h1>Accounts</h1>
  <ul>
    {% for account in accounts %}
      <li>{{ account.email }}</li>
    {% else %}
      <i>geen</i>
    {% endfor %}
  </ul>
  <form action="/accounts/create" method="post">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Account toevoegen">
  </form>

  </main>
  <aside>
    <h1>Tasks</h1>
    <ul>
      {% for task in tasks %}
      <li><a href="/tasks/{{ task._id }}">{{ task.message|truncate(20) }} &rarr; {{ task.account_email }} ({{ task.status }})</a></li>
      {% else %}
        <i>geen</i>
      {% endfor %}
    </ul>
  </aside>

</div>

</body>
</html>
