<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProxyFace Admin</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div class="container">
<h1>Task {{ task._id }} </h1>
Id: {{ task._id }}<br>
Status: {{ task.status }}<br>
Message: {{ task.message }}<br>
Account: {{ task.account_email }}<br>
Time: {{ task.created }}<br>
Error: {{ task.error }}<br>
Stack: {{ task.stack }}<br>


<form method="post" action="/tasks/retry">
  <input type="hidden" name="task_id" value="{{ task._id }}">
  <input type="submit" value="Retry">
</form>
</div>
</body>
